<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafíco epidemiologico </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" href="https://i.pinimg.com/564x/83/b8/6b/83b86b680f951fbf2f7994d1e91ebb5a.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/stylebutton.css">
    <link rel="stylesheet" href="/static/css/styletable.css">
</head>

<body>
    <div class="edit">
        <div>
            <h2>Grafico de grupos epidemiologicos en Tupungato</h2>
            <canvas id="myChart"></canvas>
            <a href="/data" class="btn btn-primary">Volver</a>
        </div>
    </div>
    <script type="application/json" id="labels">{{ labels|tojson }}</script>
    <script type="application/json" id="values">{{ values|tojson }}</script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>